<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766386054219-3ht10h3gnmr8sjfh5v4uo5ckovqgq93s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766386054219-3ht10h3gnmr8sjfh5v4uo5ckovqgq93s</string>
	<key>API_KEY</key>
	<string>AIzaSyCWbLpSsliCRPG0raqIQiewtIUm6q6nxMs</string>
	<key>GCM_SENDER_ID</key>
	<string>766386054219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xxx.hira.230420.Sushi</string>
	<key>PROJECT_ID</key>
	<string>sushi-c024c</string>
	<key>STORAGE_BUCKET</key>
	<string>sushi-c024c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766386054219:ios:56f86e46e14dfa4fd119ce</string>
	<key>DATABASE_URL</key>
	<string>https://sushi-c024c-default-rtdb.firebaseio.com</string>
</dict>
</plist>